@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif; /* Montserrat as the default font */
  }
}

header ul li {
  @apply px-5 py-4 font-semibold;

}

.mobile-nav{
  @apply fixed top-10 left-0 w-full h-1/2  ;
}

.mobile-nav li {
  @apply w-full h-full text-center border-b-2 ;
}

.buttonLine{
  @apply border-solid border-2;
}

.text-primary{
 color:#164963;
 
}
.text-secprimary{
  color:#0E6B90;

}


.text-phracolor{
  color: #454545;
  ;
}

.boarder-btn{
  color:#E7E7E7
}
.bg-primary{
  background: #165D7D;

}

.bg-secoundary{
  background:#e8eff2;
}

.text-btn1{
  color: #082F44;

}
.bg-btnbg{
  background: #165D7D1F;
}

.bg-footerbg{
   background: #165D7D14;
}

